@font-face {
    font-family: "GeosansLight";
    src: url("/font/GeosansLight.ttf") format("truetype");
}

@font-face {
    font-family: 'raleway-regular';
    src: url('/font/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Palanquin";
    src: url("/font/Palanquin-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'ionicons';
    src: url('../font/ionicons.ttf') format('truetype');
}

.table > thead > tr > th {
    font-size: 15pt;
    font-family: GeosansLight !important;
    font-weight: bold;
}

.table > tbody > tr > td {
    font-size: 14pt;
    font-family: GeosansLight !important;
    font-weight: normal;
}

.text-danger {
    font-size: 13pt;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.form-horizontal .form-group {
    margin-right: 0pt;
    margin-left: 0pt;
}

.input-validation-error {
    border-color: #d62929 !important;
}

.removePadding {
    padding: 0;
}

.carousel-inner > .item > img {
    width: 640px;
    height: 360px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.userName {
    font-family: Geosans light !important;
    font-size: 11pt !important;
    justify-content: center !important;
    color: white;
    position: fixed;
    top: 41.25pt;
    right: 20pt;
}

.hidden {
    display: none;
}

.radio label, .checkbox label {
    font-size: 14pt !important;
    font-family: GeosansLight !important;
    font-weight: normal;
}

input[type=checkbox], input[type=radio] {
    zoom: 1.5;
}

input[type=date] {
    height: 40px;
    margin-bottom: 5px;
    font-family: GeosansLight !important;
    font-size: 15pt !important;
    font-weight: normal;
}

input[type=number] {
    -moz-appearance: textfield;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

.menualign {
    margin-top: 7.3%;
    border-radius: 7.5pt;
    height: 75%;
}

.MenuItem {
    font-family: GeosansLight !important;
    font-size: 15pt !important;
}

.ExclusiveLinkItem {
    font-family: Calibri !important;
    font-weight: bold !important;
    font-size: 10pt !important;
}

.logo {
    margin: 3.75pt 7.5pt;
}

.card-header {
    background-color: #2E353D !important;
    margin: 0 !important;
    box-shadow: 0 3pt 6pt 0 rgba(0,0,0,0.2);
}

.card {
    border-radius: 7.5pt;
    box-shadow: 0 3pt 6pt 0 rgba(0,0,0,0.2);
}

    .card:hover {
        box-shadow: 0 6pt 12pt 0 rgba(0,0,0,0.2);
    }

.control-label {
    font-family: GeosansLight !important;
    font-size: 15pt !important;
}

.headerName {
    font-family: Geosans light;
    font-size: 18.75pt;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle !important;
    color: #b8a360;
    justify-content: center;
    padding-top: 1%;
}

.btn {
    font-family: GeosansLight !important;
    font-weight: normal;
    font-size: 13pt !important;
    border-radius: 8.25pt !important;
}

.form-control {
    /*font-size: 1.5rem !important;*/
    font-size: 15pt !important;
}

/*Login Page*/

footer.page-footer .footer-copyright {
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2E353D;
    z-index: 9999;
    height: 8%;
}

.card-footer {
    background-color: #2E353D !important;
    margin: 0 !important;
}

.footer-copyright {
    font-family: Geosans light;
    font-size: 15pt;
    color: #d19b3d;
}

.container-fluid {
    margin-top: 6%;
    position: fixed;
    display: block;
    height: 78%;
    overflow: hidden;
    z-index: -3;
}

.menuLeft {
    height: 100%;
    float: left;
}

.sub-menu {
    /*margin-left:10pt !important;*/
    font-size: 12pt !important;
}

.content {
    border: 0.75pt solid lightgray;
    background-color: lightgray;
    height: 100%;
    margin-left: 16.8%;
    border-radius: 7.5pt;
}

.exclusiveTitle {
    width: 80%;
    position: fixed;
    font-size: 13pt !important;
    font-weight: bold;
    color: #d19b3d;
    margin: 0.5%;
    font-family: Geosans Light !important;
}

.exclusiveContent {
    margin-top: 3%;
    margin-left: 1%;
    width: 99%;
    height: 92.5%;
    overflow-y: auto;
    background-color: lightgray;
}

#pager {
    font-family: GeosansLight !important;
    font-size: 12pt !important;
}

    #pager a {
        color: #b8a15d !important;
    }

    #pager .active {
        font-weight: bold !important;
        /*cursor: pointer;*/
    }

    #pager .not-active {
        cursor: auto;
        color: dimgray !important;
    }

.pull-right {
    float: right !important;
}

#infoMessage {
    font-size: medium !important;
}

#mainDiv .heading {
    font-family: Calibri !important;
    font-weight: bold !important;
    font-size: 11.25pt;
}

/*#mainDiv.Searchforoffers {
    border-style: solid;
    border-width: 1px 5px 5px 1px;
    border-color: black;
    border-radius: 10px;
}

#secondDiv {
    font-family: GeosansLight;
    font-size: 12pt;
    border-style: solid;
    border-width: 1px 5px 5px 1px;
    border-color: black;
    border-radius: 10px;
    margin-top: 10px;
}*/

.offrcontent {
    border: 0.75pt solid white;
    background-color: #fff;
    height: 100%;
    margin-left: 16.8%;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    .offrcontent {
        border: 0.75pt solid white;
        background-color: #fff;
        height: 100%;
        margin-left: 0.8%;
        overflow-y: auto;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {
    .offrcontent {
        border: 0.75pt solid white;
        background-color: #fff;
        min-height: 20%;
        margin-left: 24.8%;
        overflow-y: scroll;
    }
}

/*For IPad Pro Screen*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
    .offrcontent {
        border: 0.75pt solid white;
        background-color: #fff;
        min-height: 20%;
        overflow-y: scroll;
        margin-left: 21.8%;
    }
}

/*For Admin Screen Resolution*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) {
    .offrcontent {
        border: 0.75pt solid white;
        background-color: #fff;
        overflow-y: scroll;
        margin-left: 21.5%;
    }

    /*.divtwomerchant {
        background-color: lightgray;
        height: inherit;
        border-radius: 10pt;
        height: 385px !important;
        overflow-y: auto;
    }*/
}

.upperadvertsearch {
    height: 270px !important;
    background-color: lightgray;
    margin-bottom: 1%;
    border-radius: 7.5pt;
}

.loweradvertresult {
    background-color: lightgray;
    border-radius: 7.5pt;
}

.divonemerchant {
    height: 200px !important;
    background-color: lightgray;
    margin-bottom: 1%;
    border-radius: 7.5pt;
}

.divtwomerchant {
    background-color: lightgray;
    /*height: 65%;*/
    border-radius: 7.5pt;
    /*height: 385px !important;*/
    /*overflow-y: auto;*/
}

.divone {
    min-height: 40%;
    background-color: lightgray;
    margin-bottom: 1%;
    border-radius: 7.5pt;
}

.divtwo {
    background-color: lightgray;
    /*height: 44.5%;*/
    border-radius: 7.5pt;
    /*height: 255px !important;*/
    /*overflow-y: auto;*/
}

.div1List {
    min-height: 25%;
    background-color: lightgray;
    margin-bottom: 1%;
    border-radius: 7.5pt;
}

.divtwoList {
    background-color: lightgray;
    /*height: 44.5%;*/
    border-radius: 7.5pt;
}

#ContactDetail_CountryCode {
    height: 85% !important;
}

form select {
    height: 85% !important;
}

#btnAddImage, #btnAddUser, #btnSearch, #btnSearchWithdraw, #btnFinancialRptSearch,
#btnDisable, #btnCreate, .transactionPaid,
#btnAddDisabled, #btnAddFeature, #btnAdd,
.fileSent, .fileDownload, .withdrawPaid, #btnSaveCategory {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 75pt !important;
}

#btnDeleteImage, #btnDeleteDisable, #btnDeleteFeature {
    font-family: calibri !important;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 75pt !important;
}
/* Offer */
#tagsList .tagCard label {
    text-align: left !important;
    background-color: #b5b5b5;
    border-radius: 10pt;
    padding: 4.5pt;
}

.tagCard {
    float: left;
    top: 9px;
    margin-bottom: 7pt;
    margin-left: -19.5pt;
}

    .tagCard button {
        font-family: GeosansLight !important;
        font-size: 11pt !important;
        border: 1px solid black;
        border-radius: 10pt;
        font-weight: bold;
        margin-left: 1%;
        margin-top: 0.5%;
    }

        .tagCard button:hover {
            color: #b8a360;
        }

.tagName {
    font-family: GeosansLight !important;
    font-size: 13pt !important;
    text-align: left !important;
}

.countryList {
    border: 1px solid black;
    height: 52.5pt;
    overflow-y: auto;
    margin-left: 15pt;
    background-color: #fff;
    border-radius: 7.5pt;
}

.tagText {
    font-family: GeosansLight !important;
    width: 100%;
    height: 30pt;
    margin-left: 0.5pt;
    font-weight: normal;
}

.dropdownInput {
    font-family: GeosansLight !important;
    font-weight: normal;
    height: 30pt !important;
}

.dropdownInputs {
    font-family: GeosansLight !important;
    font-weight: normal;
    height: 30pt !important;
}

.merchantDiv {
    margin-bottom: 8pt;
}

    .merchantDiv .field-validation-valid {
        margin-top: 8pt;
    }

.k-input.form-control {
    font-family: GeosansLight !important;
    font-size: 15pt;
    font-weight: normal;
    /*height: 25pt;*/
}

.k-state-selected {
    box-shadow: inset 0 0 3px 1px #d19b3d !important;
}

.k-state-selected {
    background: #b8a360 !important;
}

.k-list-container {
    margin-top: 7pt;
}

.k-dropdown-wrap {
    background-color: #fff !important;
    border-radius: 11.25pt !important;
}

.k-widget {
    width: 100% !important;
}

.k-icon.k-i-arrow-60-down::before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: black;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: -10px;
    left: 6px;
}

.k-icon.k-clear-value.k-i-close::before {
    content: "\f00d";
    font-family: FontAwesome;
}

.sim-tree a {
    text-decoration: none;
    cursor: pointer;
    font-family: GeosansLight !important;
    font-size: 15pt;
    font-weight: normal;
}

    .sim-tree a:hover {
        color: #b8a360;
    }

.sim-tree li {
    margin-left: 15pt !important;
}

.sim-tree .sim-tree-spread.hidden {
    display: inline-block !important;
    margin-left: 1px;
}

/*.form-horizontal .control-label {
    padding-top: 0px !important;
}*/

#btnAddTag {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-left: 7pt;
    padding: 1.75pt;
    width: 75pt !important;
}

/* AutoComplete UI */
.ui-menu .ui-menu-item-wrapper {
    font-family: GeosansLight !important;
    font-size: 15pt;
    font-weight: normal;
}

.ui-autocomplete {
    max-height: 75pt;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 75pt;
}

.validation-summary-valid {
    margin-bottom: 15pt;
}

@media(min-width: 320px) {
    .container-fluid {
        margin-top: 20%;
        height: 80%;
    }

    .content {
        margin-left: 0;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .col-md {
        width: 0% !important;
    }

    .form-horizontal {
        height: 75% !important;
    }

    .btn {
        width: 25vw
    }

    .headerName {
        font-size: 9.75pt;
    }
}

@media(min-width: 360px) {
    .container-fluid {
        margin-top: 20%;
        height: 80%;
    }

    .content {
        margin-left: 0%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 25vw
    }

    .headerName {
        font-size: 11.25pt;
    }
}

@media(min-width: 411px) {
    .container-fluid {
        margin-top: 21%;
        height: 80%;
    }

    .content {
        margin-left: 0;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 25vw
    }

    .headerName {
        font-size: 11.25pt;
    }
}

@media(min-width: 568px) {
    .container-fluid {
        margin-top: 9%;
        height: 75%;
    }

    .content {
        margin-left: 0%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 25vw
    }

    .headerName {
        font-size: 15pt;
    }
}

@media(min-width: 600px) and (min-height: 960px) {
    .container-fluid {
        margin-top: 17%;
        height: 80%;
    }

    .content {
        margin-left: 0%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 15vw
    }

    .headerName {
        font-size: 15pt;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        margin-top: 11.5%;
        height: 82%;
    }

    .content {
        margin-left: 24%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 12vw
    }

    .headerName {
        font-size: 15pt;
    }
}

@media (min-width: 812px) and (min-height: 375px) {
    .container-fluid {
        margin-top: 10%;
        height: 70%;
    }

    .content {
        margin-left: 22%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 7vw
    }

    .headerName {
        font-size: 15pt;
    }
}

@media (min-width: 823px) and (min-height: 411px) {
    .container-fluid {
        margin-top: 10%;
        height: 70%;
    }

    .content {
        margin-left: 22%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 7vw
    }

    .headerName {
        font-size: 15pt;
    }
}

@media (min-width: 960px) and (min-height: 600px) {
    .container-fluid {
        margin-top: 9%;
        height: 77%;
    }

    .content {
        margin-left: 19.7%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 7vw
    }

    .headerName {
        font-size: 15pt;
    }
}

@media (min-width: 1024px) and (min-height: 768px) {
    .container-fluid {
        margin-top: 9%;
        height: 78%;
    }

    .content {
        margin-left: 21.5%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 5vw;
    }

    .headerName {
        font-size: 18.75pt;
    }
}

@media (min-width: 1024px) and (min-height: 1366px) {
    .container-fluid {
        margin-top: 9%;
        height: 84%;
    }

    .content {
        margin-left: 22%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .btn {
        width: 7vw
    }

    .headerName {
        font-size: 18.75pt;
    }
}

@media (min-width: 1280px) {
    .container-fluid {
        margin-top: 7%;
        height: 78%;
    }

    .content {
        margin-left: 16.8%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .headerName {
        font-size: 18.75pt;
    }
}

@media(min-width: 1366px) and (min-height:420px) and (max-height:767px) {
    .container-fluid {
        margin-top: 6.5%;
        height: 78%;
    }

    .content {
        margin-left: 16.8%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .headerName {
        font-size: 22pt;
    }
}

@media(min-width: 1366px) and (min-height:768px) and (max-height:900px) {
    .container-fluid {
        margin-top: 6.5%;
        height: 78%;
    }

    .content {
        margin-left: 16.8%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .headerName {
        font-size: 22pt;
    }
}

@media(min-width: 1366px) and (min-height:1024px) {
    .container-fluid {
        margin-top: 7.2%;
        height: 81%;
    }

    .content {
        margin-left: 16.8%;
        height: 100%;
    }

    .exclusiveContent {
        height: 95%;
    }

    .headerName {
        font-size: 22pt;
    }
}

@media(min-width: 1440px) {
    .container-fluid {
        margin-top: 6.5%;
        height: 78%;
    }

    .content {
        margin-left: 16.8%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .headerName {
        font-size: 22pt;
    }
}

@media(min-width: 1500px) {
    .container-fluid {
        margin-top: 6%;
        height: 78%;
    }

    .content {
        margin-left: 16.8%;
        height: 100%;
    }

    .exclusiveContent {
        height: 93.5%;
    }

    .headerName {
        font-size: 22pt;
    }
}

/*Login*/

.login .heading {
    font-family: GeosansLight;
    font-size: 22pt;
}

.login .logindetails {
    font-family: Geosans light regular;
    font-size: 19pt;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 255pt;
    height: 210pt;
    border-radius: 15.5pt;
    background-color: #343235;
    overflow: hidden;
    justify-content: center !important;
}

    .login .logindetails .btnCancel {
        font-family: GeosansLight;
        font-size: 13pt;
    }

    .login .logindetails .field-validation-error > span {
        font-family: GeosansLight;
        font-size: 15pt;
        position: absolute;
        left: 25px;
        top: 38px;
        color: #fff;
    }

.roundedInput {
    border-radius: 11.25pt !important;
    font-family: GeosansLight;
    width: 100%;
    height: 30pt !important;
}

.goldBackground {
    background-color: #b8a360;
}

.login-text {
    /*margin-top: -5pt;*/
    font-size: 19pt !important;
}

.navlogin {
    margin-bottom: 15pt;
}

.loginbtns {
    position: relative;
    top: 15px;
}
/*.text-box {
    font-family: GeosansLight;
    width: 100%;
    height: 30pt;
    margin-left: 0.5pt;
    margin-bottom: 15pt;
}

.text-boxs {
    font-family: GeosansLight;
    width: 100%;
    height: 30pt;
    margin-left: 0.5pt;
    margin-bottom: 10pt;
}*/
#btnConfirm {
    background-color: #b8a360;
    margin-right: 7pt;
    width: 30% !important;
    padding: 0.15pt;
}

#btnCancels {
    background-color: #fff;
    width: 30% !important;
    padding: 0.15pt;
}

-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 7.5pt;
    background-color: #F5F5F5;
}

-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

-webkit-scrollbar-thumb {
    border-radius: 7.5pt;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2e353d;
    height: 10%;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #2e353d;
    height: 10%;
}

#header-image {
    height: 30pt;
    margin-top: 10pt;
}

#user-icon-desktop {
    font-size: 30pt;
    padding-left: 7.5pt;
}

#user-icon-mobile {
    font-size: 15pt;
}

#navimenu {
    color: white;
}

.centerContent {
    justify-content: center !important;
}

.sim-tree .sim-tree-checkbox.checked {
    border-color: #b8a360;
    background-color: #b8a360;
}

.botn {
    right: 6%;
    margin-top: 6pt;
}

@media screen and (max-width: 600px) {
    .botn {
        right: 0;
        margin-top: -45px;
    }
}

#btnAmendOffer {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnAddNewsLetter {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnRender {
    font-family: calibri !important;
    margin-top: 2.75pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnUpdateUrl {
    font-family: calibri !important;
    margin-top: 2.75pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 40pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnSend {
    font-family: calibri !important;
    margin-top: 2.75pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnCopytext {
    font-family: calibri !important;
    margin-top: 2.75pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 40pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnGenerate {
    font-family: calibri !important;
    margin-top: 2.75pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 40pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnSearchMerchants {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnAddMerchant {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnDeleteMerchants {
    color: black;
    font-size: 15pt !important;
    font-family: GeosansLight !important;
}

#btnDeleteBranch {
    color: black;
}

#btnSavePassword {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnAddBranch {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnCancel {
    font-family: calibri !important;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 75pt !important;
}

#btnCancelPassword {
    font-family: calibri !important;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 75pt !important;
}

#btnSaveMerchants {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    padding: 1.75pt;
    width: 85pt !important;
}

#btnCancelBranch {
    font-family: calibri !important;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
}

#btnSaveBranch {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
}

#btnDeleteBranch {
    color: black;
    font-size: 15pt !important;
    font-family: GeosansLight !important;
}

#btnAddOffer, #member-plan-btn, #member-plantype-btn, #addNewAgentBtn, #addNewRegCodeBtn, #removeAgent {
    font-family: calibri !important;
    margin-top: 2.75pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    /*margin-right: 7pt;*/
    padding: 1.75pt;
    width: 85pt !important;
}

#btnSearchOffer {
    font-family: calibri !important;
    /*margin-top: 2.75pt;*/
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

#userdetails {
    font-family: GeosansLight !important;
    font-size: 15pt !important;
}

.txtarea {
    font-family: GeosansLight;
}

/* JQuery dialog box for merchant*/

.ui-widget {
    font-family: calibri !important;
    font-weight: bold;
}

.ui-dialog .ui-dialog-title {
    font-size: 10pt;
    font-weight: bold;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .btnYes {
    background: #b8a360;
}

.ui-dialog .ui-dialog-buttonpane button {
    border-radius: 7.5pt;
}

.ui-dialog .ui-dialog-titlebar {
    margin-left: -4px;
    margin-right: -4px;
    border-top-left-radius: 6pt;
    border-top-right-radius: 6pt;
    margin-top: -3px;
    background-color: #b8a360;
    overflow: hidden;
}

.ui-widget.ui-widget-content {
    border-radius: 3.25pt;
    border-bottom-left-radius: 5pt;
    border-bottom-right-radius: 5pt;
}

/* Load Spinner */
.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
}

.has-spinner.navi {
    cursor: progress;
}

    .has-spinner.navi .spinner {
        opacity: 1;
        max-width: 37.5pt;
    }
/*Toaster Messages*/
.toast-message {
    font-family: Geosans light !important;
    font-size: 15pt !important;
}

.btnCancel {
    font-family: calibri !important;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    /*margin-right: 7pt;*/
    padding: 1.75pt;
    width: 75pt !important;
}

.btnSave {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    /*margin-right: 7pt;*/
    padding: 1.75pt;
    width: 75pt !important;
}

.navpattern {
    color: #FF0000;
}

.navpatterns {
    /*margin-top: -20px;*/
    color: #FF0000;
}

.carousel-control-prev-icon {
    background-color: #000000;
}

.carousel-control-next-icon {
    background-color: #000000;
}

.carousel-indicators {
    top: 10px;
}

    .carousel-indicators li {
        background-color: #000000;
    }

.carouselImage {
    top: 0;
    left: 0;
    min-width: 100% !important;
    height: 300px;
    max-width: 100% !important;
    object-fit: contain;
}

.siteclanImage {
    height: 50px;
    max-width: 100% !important;
}

.note-editable {
    font-size: 15pt !important;
}

.note-editing-area {
    font-family: raleway-regular;
}

.note-editor.note-frame .note-status-output:empty {
    background-color: #fff;
}

.note-editor.note-frame {
    border: 1px solid #a9a9a9;
    border-radius: 7.5pt;
}

.note-toolbar {
    padding: 0 0 5px 5px !important;
    margin: 0 !important;
    background-color: #fff !important;
    border-top-left-radius: 7.5pt !important;
    border-top-right-radius: 7.5pt !important;
}

.note-editor.note-frame .note-statusbar {
    background-color: #f5f5f5 !important;
    border-top: 1px solid #ddd !important;
    border-bottom-right-radius: 7.5pt !important;
    border-bottom-left-radius: 7.5pt !important;
}

.subHeaderTitle {
    display: flex;
    justify-content: flex-end;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        color: #000000;
        text-decoration: none;
        background-color: transparent;
    }

.pagnMore {
    font-size: 16px;
    font-family: monospace;
    margin-left: -10px;
}

.filebtn {
    margin-top: 8px;
    margin-left: 5px;
}

.filebox {
    margin-left: -14px;
}

.importbtn {
    border-radius: 10px;
    height: 33px;
    font-family: Raleway-regular !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    padding: 2.15pt;
    margin-right: 15px;
    width: 70pt !important;
}

.completebtn {
    border-radius: 10px;
    height: 33px;
    padding: 2.15pt;
    margin-right: 15px;
    width: 70pt !important;
}

.progress-bar {
    background-color: #b8a360;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 7.5pt;
}

/*New Spinner*/
.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
}

#fileSpinner {
    display: inline-block;
    opacity: 1;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
}

#affiliateSpinner {
    display: inline-block;
    opacity: 1;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
}

.has-spinner.active {
    cursor: progress;
}

    .has-spinner.active .spinner {
        opacity: 1;
        max-width: 50px;
    }

#messageExists {
    font-family: GeosansLight;
    font-size: 15px;
    font-weight: bold;
    color: #d62929;
}

/*Browse File*/

.errmsg, .importspinner {
    position: relative;
    bottom: 10px;
}

.file > label {
    font-weight: 400;
    border-radius: 2.5pt;
    border: 1px solid #6c757d;
    position: absolute;
    background-color: #f0f0f0;
    color: #000000;
    line-height: 20px;
    width: 65px;
    text-align: center;
    cursor: pointer
}

/*List Box*/
#btnSearchOfferMaintain {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 70pt !important;
}

#btnSaveOfferMaintain {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 70pt !important;
}

.pointing {
    cursor: pointer;
}

.lfrgbtn {
    top: 100px;
}

.btn-right {
    background: #fff;
    width: 50%;
    color: #000000;
    font-weight: 900;
    font-size: 10pt;
}

.btn-left {
    background: #fff;
    width: 50%;
    color: #000000;
    font-weight: 900;
    font-size: 10pt;
}

.shtdsp {
    word-break: break-all;
}

@media screen and (max-width: 600px) {
    .lfrgbtn {
        top: 15px;
    }

    .btn-right {
        background: #fff;
        width: 25%;
        color: #000000;
        font-weight: 900;
        font-size: 10pt;
    }

    .btn-left {
        background: #fff;
        width: 25%;
        color: #000000;
        font-weight: 900;
        font-size: 10pt;
    }
}

@media only screen and (device-width: 768px) {
    .lfrgbtn {
        top: 5px;
    }

    .btn-right {
        margin-left: 85px;
        background: #fff;
        width: 50%;
        color: #000000;
        font-weight: 900;
        font-size: 10pt;
    }

    .btn-left {
        margin-left: 85px;
        background: #fff;
        width: 50%;
        color: #000000;
        font-weight: 900;
        font-size: 10pt;
    }
}

.listbx {
    border: solid 1px #333;
    background: #fff;
    height: 100%;
    overflow: auto;
    font-family: GeosansLight !important;
    font-size: 14pt;
    border-radius: 7.5pt;
}

.navundline {
    border-bottom: solid 0.75pt silver;
    padding-top: 15px;
}

/*.listbx > li.load {
    background: url('../images/load.gif') no-repeat left center #b8a360;
}*/

.detailpop {
    cursor: pointer;
}

#lstBox1 > li.selected {
    background-color: #b8a360;
}

#lstBox2 > li.selected {
    background-color: #b8a360;
}

.more-content {
    display: block;
}

.cg-visible {
    display: none;
}

.readmore {
    font-size: 15pt;
    color: #b8a360;
}

#paging {
    padding: 0 20px 20px 20px;
    font-size: 13px;
    margin-top: 10px;
}

    #paging a {
        color: #000;
        background: #e0e0e0;
        padding: 8px 12px;
        margin-right: 5px;
        text-decoration: none;
    }

        #paging a.aktif {
            background: #000 !important;
            color: #fff;
        }

        #paging a:hover {
            border: 1px solid #000;
        }

.hidden {
    display: none;
}

button:disabled.importbtn {
    background-color: grey;
}

/*.pagination li {
    display: inline-block;
    padding: 5px;
}*/

@media screen and (max-width: 1024px) {
    .arrow {
        position: absolute;
    }

    .arw {
        right: -5px;
    }
}

.lftcol {
    background-color: lightgray;
    border-radius: 3.75pt;
    /*box-shadow: 0.75pt 0.75pt 5.5pt #000000;*/
    min-height: 100px;
    width: 50%;
    /*margin-left: 2%;*/
    padding: 20px;
    /*margin-bottom: 20px;*/
}

.rtcol {
    background-color: lightgray;
    padding: 20px;
    border-radius: 3.75pt;
    /*box-shadow: 0.75pt 0.75pt 5.5pt #000000;*/
    min-height: 100px;
    width: 48%;
    margin-left: 2%;
    /*margin-bottom: 20px;*/
}

.custbtns {
    margin-top: 20px;
}

.btnCancelCustomer {
    font-family: calibri !important;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
}

.btnSaveCustomer {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
}

.btnAction {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    padding: 1.75pt;
    width: 140px;
    position: relative;
    top: 10px;
}

@media screen and (max-width: 1024px) {
    .btnCancelCustomer {
        font-family: calibri !important;
        font-weight: bold;
        -moz-box-shadow: inset 0 0 5.5pt #000000;
        -webkit-box-shadow: inset 0 0 5.5pt #000000;
        box-shadow: inset 0 0 5.5pt #000000;
        margin-right: 7pt;
        padding: 1.75pt;
    }

    .btnSaveCustomer {
        font-family: calibri !important;
        font-weight: bold;
        background-color: #b8a360;
        -moz-box-shadow: inset 0 0 5.5pt #000000;
        -webkit-box-shadow: inset 0 0 5.5pt #000000;
        box-shadow: inset 0 0 5.5pt #000000;
        margin-right: 7pt;
        padding: 1.75pt;
    }
}

.btnSaveCard {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
}

@media screen and (max-width: 1024px) {
    .btnSaveCard {
        font-family: calibri !important;
        font-weight: bold;
        background-color: #b8a360;
        -moz-box-shadow: inset 0 0 5.5pt #000000;
        -webkit-box-shadow: inset 0 0 5.5pt #000000;
        box-shadow: inset 0 0 5.5pt #000000;
        margin-right: 7pt;
        padding: 1.75pt;
    }
}

.edtname {
    left: 25px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .edtname {
        left: 15px;
        position: relative;
    }
}

#btnSearchCustomer {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 85pt !important;
}

.cardrequst {
    position: relative;
    bottom: 5px;
    padding-left: 10px;
    font-size: 12pt !important;
    font-family: GeosansLight;
}

/* toogle*/
.accordion a {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #000000;
    font-family: GeosansLight;
    font-size: 15pt;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}

    .accordion a:hover,
    .accordion a:hover::after {
        cursor: pointer;
        color: #555;
    }

        .accordion a:hover::after {
            border: 1px solid #555;
        }

    .accordion a.active {
        color: #555;
        border-bottom: 1px solid #555;
    }

    .accordion a::after {
        font-family: 'ionicons';
        content: '\f218';
        position: absolute;
        float: right;
        right: 1rem;
        font-size: 1rem;
        font-weight: bold;
        color: #555;
        padding: 5px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #555;
        text-align: center;
    }

    .accordion a.active::after {
        font-family: 'ionicons';
        content: '\f209';
        color: #555;
        border: 1px solid #555;
    }

.accordion .infos {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

    .accordion .infos p {
        font-size: 12pt;
        font-weight: 300;
        font-family: GeosansLight;
    }

    .accordion .infos.active {
        opacity: 1;
        padding: 1rem;
        max-height: 100%;
        -webkit-transition: all 0.35s ease 0.15s;
        -o-transition: all 0.35s ease 0.15s;
        transition: all 0.35s ease 0.15s;
    }

.carddisplay {
    float: right;
    font-size: 12pt;
    font-weight: 300;
    font-family: GeosansLight;
    cursor: pointer;
}

.cardheaders {
    white-space: nowrap;
}

.cardsearch {
    white-space: nowrap;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ddd !important;
    opacity: 1;
}

.disabled {
    background-color: #ddd !important;
}

.directdisplay {
    margin-top: 40px;
}

#SearchAdverts {
    font-family: calibri !important;
    margin-top: 10.75pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 30pt;
    padding: 1.75pt;
    width: 85pt !important;
}

.btnAddAdverts {
    font-family: calibri !important;
    margin-top: -3.25pt;
    margin-bottom: 10pt;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 30pt;
    padding: 1.75pt;
    width: 85pt !important;
}

.advrtlabels {
    white-space: nowrap;
}

.advertlink:hover {
    text-decoration: none;
    color: #000000;
}

.displayon {
    margin-left: 15px !important;
}

.btnCancelAdvert {
    font-family: calibri !important;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
}

#btnSave {
    font-family: calibri !important;
    font-weight: bold;
    background-color: #b8a360;
    -moz-box-shadow: inset 0 0 5.5pt #000000;
    -webkit-box-shadow: inset 0 0 5.5pt #000000;
    box-shadow: inset 0 0 5.5pt #000000;
    margin-right: 7pt;
    padding: 1.75pt;
    width: 75pt !important;
}

.advrturl {
    /*margin-left: -5px;*/
    white-space: nowrap;
}

.cardtoggledetails {
    font-size: 15pt !important;
    font-family: geosanslight;
    position: relative;
    top: 10px
}

.crdstats {
    padding-left: 0px;
}

.bannerSpinner {
    top: 74px;
    position: absolute;
}

.imageuploaded {
    position: relative;
    left: 210px;
    height: 50px;
}

@media only screen and (min-width : 1024px) and (max-width :1559px) {
    .imageuploaded {
        position: relative;
        left: 125px;
        height: 50px;
    }

    .btnAction {
        font-family: calibri !important;
        font-weight: bold;
        background-color: #b8a360;
        -moz-box-shadow: inset 0 0 5.5pt #000000;
        -webkit-box-shadow: inset 0 0 5.5pt #000000;
        box-shadow: inset 0 0 5.5pt #000000;
        padding: 1.75pt;
        width: 100px;
        position: relative;
        top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width : 1600px) {
    .imageuploaded {
        position: relative;
        left: 210px;
        height: 50px;
    }
}

.lblbanner {
    white-space: nowrap;
}

.bottomMargin {
    margin-bottom: 1%;
}

.leftPadding {
    padding-left: 5% !important;
}

.sui-color-picker-dropdown {
    margin-top: 10px;
}

.marginTop {
    margin-top: -8px;
}

.addOfferToListItem {
    cursor: pointer;
}

.removeOfferList {
    cursor: pointer;
}

.backgroundTableRow {
    background-color: #b8a360;
}

.myDiv input#cronString {
    height: 40px;
}

.myDiv input#clear {
    font-size: 14px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea#BodyText,
textarea#BodyHtml {
    border-radius: 15px;
    font-size: 14px;
    width: 100%;
}

.richText .richText-editor {
    font-size: 15px;
}

.branchselect .btn-group {
    width: 100%;
}

.branchselect button {
    border-radius: 11.25pt !important;
    font-family: GeosansLight;
    width: 100%;
    height: 30pt !important;
}

.branchselect .custom-select {
    background: #fff;
    display: flex;
}

    .branchselect .custom-select::before {
        content: "\f0d7";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: black;
        font-size: 14px;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        right: 6px;
    }

.branchselect .multiselect .multiselect-selected-text {
    border-radius: 11.25pt !important;
    font-family: GeosansLight;
    font-size: 20px;
}

.branchselect .multiselect-container {
    position: absolute;
    font-size: 20px;
    font-family: GeosansLight;
    border-radius: 0 0 4px 4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 174.7px;
    min-width: 174.7px;
    white-space: normal;
    max-height: 200px;
    margin-top: 7pt;
    width: 100%;
    overflow: scroll;
}

    .branchselect .multiselect-container .form-check {
        padding: 0 !important;
        display: flex;
        align-items: center;
    }

        .branchselect .multiselect-container .form-check .form-check-input {
            margin: 0;
        }

        .branchselect .multiselect-container .form-check .form-check-label {
            padding-left: 20px;
            font-weight: normal;
        }

.span.multiselect-native-select {
    position: relative;
}

span.multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: relative !important;
    width: 1px !important;
    left: 50%;
    top: 30px;
}

.multiselect.dropdown-toggle:after {
    display: none;
}

.multiselect {
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiselect-container {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .multiselect-container .multiselect-reset .input-group {
        width: 93%;
    }

    .multiselect-container .multiselect-filter > .fa-search {
        z-index: 1;
        padding-left: 0.75rem;
    }

    .multiselect-container .multiselect-filter > input.multiselect-search {
        border: none;
        border-bottom: 1px solid lightgrey;
        padding-left: 2rem;
        margin-left: -1.625rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

        .multiselect-container .multiselect-filter > input.multiselect-search:focus {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

    .multiselect-container .multiselect-filter > .multiselect-moz-clear-filter {
        margin-left: -1.5rem;
        display: none;
    }

    .multiselect-container .multiselect-option.multiselect-group-option-indented {
        padding-left: 1.75rem;
    }

    .multiselect-container .multiselect-option,
    .multiselect-container .multiselect-group,
    .multiselect-container .multiselect-all {
        padding: 0.25rem 0.25rem 0.25rem 0.75rem;
    }

        /*.multiselect-container .multiselect-option.dropdown-item,
        .multiselect-container .multiselect-group.dropdown-item,
        .multiselect-container .multiselect-all.dropdown-item,
        .multiselect-container .multiselect-option.dropdown-toggle,
        .multiselect-container .multiselect-group.dropdown-toggle,
        .multiselect-container .multiselect-all.dropdown-toggle {
            cursor: pointer;
        }*/

        /* .multiselect-container .multiselect-option .form-check-label,
        .multiselect-container .multiselect-group .form-check-label,
        .multiselect-container .multiselect-all .form-check-label {
            cursor: pointer;
        }

        .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback),
        .multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback),
        .multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback),
        .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active,
        .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active,
        .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active {
            background-color: lightgrey;
            color: black;
        }*/

        .multiselect-container .multiselect-option:hover,
        .multiselect-container .multiselect-group:hover,
        .multiselect-container .multiselect-all:hover,
        .multiselect-container .multiselect-option:focus,
        .multiselect-container .multiselect-group:focus,
        .multiselect-container .multiselect-all:focus {
            background-color: darkgray !important;
        }

        .multiselect-container .multiselect-option .form-check,
        .multiselect-container .multiselect-group .form-check,
        .multiselect-container .multiselect-all .form-check {
            padding: 0 5px 0 20px;
        }

        .multiselect-container .multiselect-option:focus,
        .multiselect-container .multiselect-group:focus,
        .multiselect-container .multiselect-all:focus {
            outline: none;
        }

.form-inline .multiselect-container span.form-check {
    padding: 3px 20px 3px 40px;
}

.input-group.input-group-sm > .multiselect-native-select .multiselect {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    padding-right: 1.75rem;
    height: calc(4em);
}

.input-group > .multiselect-native-select {
    flex: 1 1 auto;
    width: 1%;
}

    .input-group > .multiselect-native-select > div.btn-group {
        width: 100%;
    }

    .input-group > .multiselect-native-select:not(:first-child) .multiselect {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .input-group > .multiselect-native-select:not(:last-child) .multiselect {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.alter-section, .alternative {
    font-size: 20px;
    font-family: Calibri;
    padding-right: 20px;
}

.mini-btn {
    font-family: 'Calibri';
    border-radius: 10px;
    font-style: normal;
    margin-left: 50px;
    font-weight: 700;
    font-size: 17px;
    border: none;
    width: 105px;
}

#MembershipPlans #member-plan-btn, #member-plantype-btn, #addNewAgentBtn, #removeAgent {
    max-width: 208px;
    width: 100% !important
}

#MembershipPlans #removeAgent {
    margin: 25px 0 0 40px;
}

#MembershipPlans .save {
    background: #B09D5E;
}

#MembershipPlans .mt-40 {
    margin-top: 40px;
}

#MembershipPlans .pad-16 {
    padding: 16px;
}

#MembershipPlans .mt-20 {
    margin-top: 20px;
}

#MembershipPlans .cash-back-title {
    font-weight: 700;
    font-size: 26px;
    text-align: right;
    margin: 40px 0;
}

#MembershipPlans .date-title-text {
    font-weight: 700;
    font-size: 20px;
    padding-top: 5px;
}

#MembershipPlans .padding-text {
    padding: 5px 10px 0 10px !important;
}

#MembershipPlans .pad-6 {
    padding-top: 8px;
}

#MembershipPlans .pad-l-16 {
    padding-left: 16px;
}

#MembershipPlans input[type='radio'] {
    height: 0;
}

    #MembershipPlans input[type='radio']:after {
        width: 14px;
        height: 14px;
        border-radius: 3px;
        top: 0px;
        left: 0px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
    }

    #MembershipPlans input[type='radio']:checked:after {
        width: 14px;
        height: 14px;
        border-radius: 3px;
        top: 0px;
        left: 0px;
        position: relative;
        background-color: #B09D5E;
        content: '';
        display: inline-block;
        visibility: visible;
    }

#MembershipPlans .pad-t-4 {
    padding: 0;
    padding-top: 4px;
}

.error-text {
    padding-top: 6px;
    color: red;
}

#MembershipPlans .alt-text {
    margin-top: 5px;
}

#MembershipPlans button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#MembershipPlans .textarea-container {
    height: 67px !important;
}

.black-info-container {
    background: #2E353D;
    text-align: center;
    padding: 7px 20px;
    border-radius: 9px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: Calibri;
    min-height: 31px;
}

#RegistrationCodes {
    padding-left: 40px;
    margin-top: 30px;
}

    #RegistrationCodes .title-container {
        margin-bottom: 24px;
    }

    #RegistrationCodes .table-reg-code {
        max-width: 1020px;
        width: 100%;
        margin-left: 15px;
    }

    #RegistrationCodes .reg-code-heading {
        font-weight: bold;
        font-size: 20px;
        padding: 0 20px 6px 0;
    }

    #RegistrationCodes .save {
        background: #B09D5E;
    }

    #RegistrationCodes .table-line {
        border-bottom: 1px solid #B09D5E;
    }

    #RegistrationCodes .add-button {
        margin: 47px 0 34px;
        max-width: 242px !important;
        width: 100% !important;
    }

    #RegistrationCodes .reg-code-label {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 0px;
    }

    #RegistrationCodes .add-new-button-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
    }

    #RegistrationCodes .code-label {
        padding-right: 28px;
    }

    #RegistrationCodes .from-container {
        padding: 7px 0;
        display: flex;
        align-content: center;
        align-items: center;
    }

    #RegistrationCodes .pad-13 {
        padding: 13px;
    }

    #RegistrationCodes .code-type-container {
        padding: 7px 0;
    }

    #RegistrationCodes .reg-code {
        font-size: 20px;
        font-family: Calibri;
        padding: 8px 0;
        font-weight: 400;
    }

    #RegistrationCodes .total-number {
        padding: 8px 0 8px 10px;
    }

    #RegistrationCodes .btnUrl {
        background: none;
        border-width: 0;
        padding: 0;
        color: #B09D5E;
        font-weight: 400;
        font-size: 20px;
    }

    #RegistrationCodes .click-copy {
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
    }

    #RegistrationCodes input[type="radio"] {
        appearance: none;
        width: 14px;
        height: 14px;
        border: 1px solid;
        border-radius: 50%;
        background-clip: content-box;
        padding: 2px;
    }

        #RegistrationCodes input[type="radio"]:checked {
            background-color: #B09D5E;
        }

    #RegistrationCodes .download-icon {
        padding-left: 30px;
        color: #B09D5E;
        outline: none;
    }

.custom-datepicker-input {
    max-width: 110px;
    width: 100%;
    background: none;
    box-shadow: none;
    border-width: 0;
    font-size: 20px;
    font-weight: 400;
}

    .custom-datepicker-input:focus {
        outline: none;
    }

.date-picker-icon {
    border: none;
    background: none;
}

.csselect select {
    appearance: none;
}

.csselect::after {
    content: "\25bc";
    position: absolute;
    top: 13px;
    right: 26px;
}

.csselect {
    position: relative
}