
@{
    ViewData["Title"] = "Error";
}

<h2 class="u_text-align--center u_margin-top--default u_margin-bottom--s4 u_margin-bottom--s5--lg">
    <span class="__pre-title">
        Oops, something went wrong. We are working on getting this fixed as soon as possible.
    </span>
</h2>

<h2 class="u_text-align--center u_margin-bottom--s4 u_margin-bottom--s5--lg">
    <span class="__pre-title">
        You may be able to try again by using the back button in your browser, 
        or <a href="/Home">click here </a> to return to the home page.
    </span>
</h2>
