<div class="row donations">
    <div class="col-md-12">
        <center>
            <img src="/images/blank.png" data-src="/assets/img/diamond.svg"  data-srcset="/assets/img/diamond.svg" height="100" class="img-responsive lazy" />
        </center>
    </div>
</div>
<br />
<br />
<div class="row margin-bottom-40">
    <div class="col-md-12">
        <center>
            <h1>Coming Soon</h1>
        </center>
    </div>
</div>

