@{
    ViewData["Title"] = "Single Sign On Test Harness";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
       
        <p>Go test the  <a href="Home/TestSSO">Single Sign On</a></p>
       
    </div>
