<div class="v2_content">
    <div class="_intro">
        <h1 class="_title">Help & Support</h1>
    </div>

    <h2 class="_underline">Contact Details</h2>

    <ul class="v2_contact-details">
        <li class="_item"><a class="_action" href="mailto:tickets@exclusive.cards?subject=Transaction Query #012345"><span class="_label">Transaction Query</span> Raise Ticket</a></li>
        <li class="_item"><a class="_action" href="mailto:enquiry@exclusive.cards?subject=General Enquiry"><span class="_label">General Enquiry</span> Ask Question</a></li>
        <li class="_item"><a class="_action" href="mailto:hello@exclusive.cards"><span class="_label">Anything Else</span> Get in Touch</a></li>
    </ul>

    <h2 class="_underline">Frequently Asked Questions</h2>

    <dl class="v2_faqs">
        <h2 class="_question">What Is Cashback ?</h2>
        <p class="_answer">Cashback is quite simply money that you get back as a percentage of what you spend when making a purchase on-line. Each merchant that you purchase from may offer different levels of cashback and this will be deposited into your cashback account for you to withdraw into your own bank account or let it accumulate in your cashback account to be used for a specific purpose. We love to call cashback….‘FREE’ money, because that is actually exactly what it is.</p>
        <h2 class="_question">How Does Cashback Work ?</h2>
        <p class="_answer">In real terms we are giving you our money. We advertise the merchants on our website and for guiding you to their site from our website to make purchases, we would be paid by the retailer for that service. But as a valued Exclusive Card member we will give you 100% of the commission that we earn as cashback, to you. When you have made a purchase on-line with any of the merchants that we work with and importantly have been directed to the merchant’s website from our website, then a cashback transaction has been activated.</p>
        <h2 class="_question">When Do I Get Paid My Cashback ?</h2>
        <p class="_answer">The cashback will never be available immediately as of course there are periods required for goods to possibly be returned by yourself as unsuitable or faulty, however within a day or two you will normally see a ‘pending’ balance in your cashback account. Once the merchant has paid an affiliate network which is a platform that we work with to advertise the merchants, then the affiliate network will pass your money to us. Once we have received this, your cashback balance will immediately be displayed as available. The process normally takes between 30-60 days for your balance to show as ‘available’ in your cashback account but is completely in the hands of the merchant that you have purchased from. Once requested, you will receive your funds from us within 7 days but this will normally actually only take 2 days.</p>
        <h2 class="_question">What Type Of Purchases Can I Get Cashback From ?</h2>
        <p class="_answer">When you shop on our website you will be able to save money on just about anything. From now on you will receive cashback when shopping for clothes, household goods, electrical equipment, flights, holidays, insurance, mobile phones, in fact the list goes on.</p>
        <h2 class="_question">Can I Use Voucher Codes And Get Cashback On The Same Transaction ?</h2>
        <p class="_answer">In simple terms the answer to this question is yes. As you would expect, all the merchants we deal with have different terms and conditions and you should always read our deal description before a purchase to ensure you are not disappointed with the level of cashback received. When using a Voucher Code in conjunction with your Cashback account you may find that the cashback is the same as usual or you may find with many merchants that the cashback level is reduced. There may even be the occasional merchant who does not allow Voucher Codes to be used in conjunction with Cashback.</p>
        <h2 class="_question">Why Did I Not Receive The Cashback I Expected ?</h2>
        <p class="_answer">If for any reason you don’t receive cashback on a particular transaction that you were expecting, there may be a number of reasons. For example, it may be to do with cookies on your computer not tracking correctly or it could be an error with the tracking link from the merchant. It may also be that you have used an unauthorised Voucher Code that was not provided by ourselves. Lots of companies provide voucher codes but, more often than not, they are invalid or out of date.</p>
        <p class="_answer">Cashback rates can be altered at any time by a merchant and this can be both up or down and so it may be in some cases that you receive more than expected. If a merchant lowers the level and we have not been able to alter the rates quickly enough on our website, this could be a reason why you have received slightly less.</p>
        <h2 class="_question">How Do I Make A Claim ?</h2>
        <p class="_answer">We are always here to help and we do our best to ensure that you receive all of the cashback that you are entitled to and so if ever there is any reason to believe that the correct level of cashback or even no cashback has been paid on a transaction, then please contact us immediately via our ‘Cashback Claim’ and we will endeavour to resolve any issues.</p>
        <p class="_answer">Any claim must be submitted within 10 days of the transaction as we will not be able to chase a claim older than this with a merchant.</p>
        <p class="_answer">We will chase all claims reported but we can only pay cashback to you that is paid by the merchants. We reserve the right to stop chasing a claim at any time if it is clear the merchant is not going to pay an untracked payment. Although the Cashback system is reliable, please do not base any purchase decisions purely based on the expected cashback as it cannot be 100% guaranteed.</p>
        <h2 class="_question">Other Reasons For Not Receiving Cashback</h2>
        <p class="_answer">Where a Merchant offers a flat cashback amount and this is more than the actual transaction value.</p>
        <p class="_answer">Mobile App to Mobile App transactions do not qualify for cashback.</p>
        <p class="_answer">Using Voucher or promotional codes not supplied or approved by Exclusive Card</p>
        <h2 class="_question">Is Cashback Taxable ?</h2>
        <p class="_answer">If you are concerned regarding the possibility that Cashback is deemed to be taxable then we strongly recommend that you seek your own up to date advice regarding this. However, cashback is considered a discount received and as such does not need to be declared as income.</p>
    </dl>
</div>